
<% unless user_signed_in? %>
  <div class="list">
    <h2>Lista de Buffets</h2>

    <% @venues.each do |v| %>
      <ul>
        <li>
          <%= link_to v.brand_name, venue_path(v.id) %>
          <%= " - #{v.city}/#{v.state}" %>
        </li>
      </ul>
    <% end %>
  </div>
    
<% end %>