<h3 class="log-in">Selecione um tipo de cadastro</h3>

<div class="d-flex justify-content-evenly">
  <%= link_to 'Dono de Buffet', new_user_registration_path, class:"btn btn-outline-secondary btn-lg" %>
  <%= link_to 'Cliente', new_customer_registration_path, class:"btn btn-outline-secondary btn-lg" %>
</div>