<h3 class="log-in">Você quer fazer login como?</h3>

<div class="d-flex justify-content-evenly">
  <%= link_to 'Dono de Buffet', new_user_session_path, class:"btn btn-outline-secondary btn-lg" %>
  <%= link_to 'Cliente', new_customer_session_path, class:"btn btn-outline-secondary btn-lg" %>
</div>