<h3>Eventos desativados</h3>

<div class="list">
  <% if @events.any? %>
    <% @events.each do |e| %>
      <ul>
        <li>
          <%= link_to "#{e.name}", event_path(e.id) %>
        </li>
      </ul>
    <% end %>
  <% else %>
    <p>Nenhum evento desativado</p>
  <% end %>
</div>
