.form-title {
    font-weight: bold;
    margin-bottom: 25px;
}

.ckeck-box {
    margin-top: 10px;
}

.ckeck-box p {
    font-weight: bold;
}

.form-button {
    margin-top: 15px;
}

.errors-msg {
    background-color: #e9ecef;
    padding-left: 10px;
    margin: 0 20px;
    font-size: 0.85rem;
    font-style: italic;
}